{% extends "main.html" %}

{% block title %}
    Leaderboards
{% endblock %}

{% block main %}
    <h2>Leaderboards</h2>
    <table class="table table-striped">
        <thead>
            <tr >
                <th  class="text-start" >Quiz</th>
                <th>Current Leader</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td  class="text-start"><a href="/">DMV California mock exam</a></td>
                    <td>NXWorried</td>
                </tr>
                <tr>
                    <td  class="text-start"><a href="/">MONGODB Associate Developer Practice</a></td>
                    <td>StaMaria</td>
                </tr>
            </tbody>

        </thead>
    </table>

    </form>
{% endblock %}
